*{
  margin: 0;
  padding: 0;
  font-family: 'rubik',sans-serif;
  box-sizing: border-box;
  list-style:none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
  padding: 30px;
}
:root{
  --bg-color: #1f1f21;
  --text-color:#fff;
  --main-color:#ffae00;

  --big-font:7rem;
  --p-font:1.1rem;
}
body{
 background:var(--bg-color); 
 color: var(--text-color);
 padding: 20px;
}
header{
  position:fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:32px 15%;
  background:#7C787D;
  transition: all ease .45s;
}
.logo{
  color: var(--text-color);
  font-size:41px ;
  font-weight: 600;

}
.logo span{
  color: var(--main-color);
}
.navbar{
  display: flex;

}
.navbar a{
  font-size: var(--p-font);
  font-weight: 500;
  color:var(--text-color);
  margin: 0 25px;
  transition:all ease .50s;
}
.navbar a:hover{
  color: var(--main-color);
}
.navbar a.active{
  color: var(--main-color);
}
.menu-btn{
  
  padding: 15px 15px ;


  align-items: right;
  cursor: pointer;
  display: none;
}
#menu-icon{
  font-size: 28px;
  margin-left:10px ;
  z-index: 6;
}
section{
  padding: 0 15%;
}
/*              Home         */
.home{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px ;
}
.home-img{
  width: 730px;
  height: 730px;
}
.home-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-text span{
  padding:5px 25px ;
  background: linear-gradient(13.08deg,#383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius:100PX ;
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.home-text h1{
  font-size: var(--big-font);
  margin: 23px 0;
}
.home-text p{
  font-size: var(--p-font);
  font-weight: 400;
  color: lavender;
  line-height: 30px;
  margin-bottom: 30px;
}
.btn{
  display:inline-block ;
  padding: 14px 34px;
  background: var(--main-color);
  color: var(--text-color);
  border: 2px solid var(--main-color);
  font-size: 16px;
  font-weight: 600;
  border-radius:8px ;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  transform: translateY(-5px);
  background: transparent;

}
/*     media query for home    */
@media(max-width:1850px){
  header{
      padding: 15px 8%;
      transition: .2s;
  }
  section{
      padding: 0 8%;
      transition: .2S;
  }
}
@media(max-width:1370px){
  header{
      padding: 15px 4%;
      transition: .2s;
  }
  section{
      padding: 0 4%;
      transition: .2S;
  }
  :root{
    --big-font:5.5rem;
    --p-font:1rem; 
    transition: .2s ;
  }
 
}
@media(max-width:1020px){
  .navbar a{
      margin:0 15px;
  }
  :root{
      --big-font:5rem;
      --p-font:1rem; 
      transition: .2s ;
    }
}
@media(max-width:950px){
  section{
      padding: 70px 4%;
  }
  header{
      padding: 11px 4%;
      background-color: #2d2d2d;
  }
  .home{
      height: auto;
      display: flex;
      flex-wrap: wrap;
  }
  .home-text{
      order: 2;
  }
  .home-img{
      margin: auto;
      height: auto;
      width: auto;
  }
  .home-img img{
      max-width: 450px;
      width: 100%;
      height: auto;
  }
 .menu-btn{
  display: flex;
 }
}
@media(max-width:850px){
  .navbar{
      position: absolute;
      width:100%;
      height: 100vh;
      padding: 40px 50px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 100%;
      display: flex;
      flex-direction: column ;
      background: #2d2d2d;
      transition: all 0.4s ease-in-out;
  }
  .navbar a{
      display: block;
      color: #c3c3c3;
      padding: 0px;
      margin: 0px 0px 40px 0px;
      font-size: 2rem;
      font-weight: 400;
  }
  .navbar.open{
      left: 0;
  }
}
@media(max-width:500px){
   :root{
      --big-font:4rem;
      --p-font:15px; 
      transition: .2s ;
   }
   .btn{
      padding: 9px 28px ;
   }
  .home-text p{
     font-size: 24px; 
  }
}

/*                 About Me            */
.about .container{
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h1 {
  font-size: 40px;
  color: lavender;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 0;
  position: relative;
  
}
.section-title h1::before {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  top:100%;
  left: 0;
}
.section-title h1::after {
  content: "";
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.about .about-content {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .section-title h1{
  font-weight: 700;
  margin-bottom: 10px;
  color:lavender;
  font-size: 60px;
}

.about .about-content .about-text {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 18px;
  margin-bottom:5px;
  font-weight: 700;
  color:var(--main-color);
}


.about .about-content .about-text p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  color: lavender;
  margin: 1;
  font-weight: 500;

}

.about .about-content .personal-info {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-color);
  margin: 0;
  border-bottom: 1px solid #393939;
  
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: #e9e9e9;
  margin-left: 4px;
  display: block;
}
.about .about-content .skills {  
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .skills .skill-item {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0;
}

.about .about-content .skills .skill-item .progress {
  background-color: #e3e3e3;
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
 
}

.about .about-content .skills .skill-item {
  margin-bottom: 10px;

}

.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: #ffae00;

}

.about .about-content .skills .skill-item .skill-percent {
  /*display: none;*/
  line-height: 40px;
  position: absolute;
  right: 0;
  color: #ffffff;
  top: -40px;
  font-weight: 400;
}
/*      education    */
.education .timeline .circle-dot,
.education.timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.section-title h2::after,
.section-title h2::before,
.home .intro .social-links a {
background-color: #ffae00;
}

.education {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.container-education{
  display: flex;
  justify-content: space-between;
}  

.education .section-title h1{
  font-weight: 700;
  margin-bottom:1px;
  color:lavender;
  font-size: 60px;
}

.education  h2.title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #ffffff;
}

.education  .timeline-box {
  flex-basis: 50%;
  padding: 50px 0;
}
.education  .timeline {
  background-color: #222222;
  padding: 30px 15px;
  border: 1px solid #393939;
  border-radius: 10px;
  max-width: 100%;
  position: relative;
}

.education  .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.education  .timeline .timeline-item:last-child {
  padding-bottom: 0px;
}

.education  .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
}

.education  .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0px;
  height: 15px;
  width: 15px;
  left: 0px;
  border-radius: 50%;
}
.education  .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: #e9e9e9;
}
.education  .timeline .timeline-date   {
  margin-right: 5px;
}
.education  .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #ffffff;
}
.education .timeline .timeline-text {
  font-size: 16px;
  line-height: 25px;
  color: #e9e9e9;
  margin: 0;
}
/*   contact me */
.contact-left{
  flex-basis: 35%;
  padding: 100px 0;
}
.contact-right{
  flex-basis: 60%;
  padding: 100px 0;
}
.contact-left h1{
  font-weight: 700;
  margin-bottom: 20px;
  color:lavender;
  font-size: 60px;
}
.contact-left p{
  margin-top: 15px;
  color: lavender;
  font-size: 22px;
  font-weight: 500;
}
.contact-left p i{
  color: var(--main-color);
  margin-right:15px;
  font-size: 25px; 
}

.shared{
  bottom: 3rem;
  left:15%;
  display: flex;
  align-items: center;
}

.shared p{
   padding: 10px;
  font-size: 18px;
  color: var(--text-color);
  margin-right: 25px;
  font-weight: 500;
}
.icons i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: linear-gradient(13.08deg,#383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius:50%;
  color: var(--text-color);
  font-size: 20px;
  margin:0 7px ;
  transition: transform 0.5s;
}
.icons i:hover{
  transform: translateY(-10px);
  color: #ffae00;  
}
.copyright{
  padding: 5px;
  margin-left: 290px;
  color: #7C787D;
/*  media query for contact, about and education */
}
@media(max-width:1850px){
  .shared{
      left:8%;
      transition: .2s;
  }
}
@media(max-width:1370px){
  .shared{
      left:4%;
      transition: .2s;
  }
}
@media(max-width:950px){
  .shared{
  margin-top: auto;
  }
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
 width: 100%;
 border: 0;
 outline: none;
 background: #262626 ;
 padding: 15px;
 margin: 15px 0;
 color: #fff;
 font-size: 18px;
 border-radius: 6px;
}
@media(max-width:850px){
.sub-title{
  font-size: 40px;
 }
 
 .container-education{
  margin-bottom: 30px;
 }
 .container{
  font-size: 14px;
 }
 .tab-links{
  font-size: 16px;
  margin: 20px;
 }
 .contact-left, .contact-right{
  flex-basis: 100%;
 }
 .shared{
  padding: 10px;
  margin-top: 5px;
 }
 .icons p i{
  font-size: 15px;
  padding: 5px 10px;
 }
}

